repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        args: ['-i']

-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        args: [
            '--max-line-length=120',
            '--disable=import-outside-toplevel,inconsistent-return-statements,too-many-arguments,bad-continuation,duplicate-code,no-member,too-few-public-methods'
        ]
